---
layout: default
---

<div class="header-container jumbotron">
    <div class="container">
        <h1>Project Surfliner</h1>
        <p>Project Surfliner - Our way forward.
        </p>
        <p><a class="btn btn-primary btn-lg" href="{{ "/docs/home/" | prepend: site.baseurl }}" role="button">Learn more</a></p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2 class="header-light regular-pad">What is Surfliner?</h2>
              <p class="lead">Project Surfliner is an experimental project of the UC San Diego and UC Santa Barbara libraries to collaboratively define, create, and maintain digital library products. Project Surfliner is more than shared code, or even shared objectives. The project is the collaboration effort. It is building and leveraging the strengths, experiences, and resources of each campus partner to focus on shared concepts and products.
The collaboration is named Project Surfliner after the Amtrak route that links our institutions together.</p>
        </div>
        <div class="col-md-6 text-center">
            <img src="img/surfliner-logo.png" alt="" class="img-responsive">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-4">
            <h1 class="text-center"><i class="fa fa-code-fork" aria-hidden="true"></i></h1>
            <h3 class="text-center">Products</h3>
            <p>The Project Surfliner team is collaboratively developing a number of products whose code all lives within this surfliner monorepo. All the products are also named after historic intra-California train routes. See <a href="https://gitlab.com/surfliner/surfliner">Lark and Starlight repo</a>.
            </p>
        </div>
        <div class="col-sm-4">
            <h1 class="text-center"><i class="fa fa-bars" aria-hidden="true"></i></h1>
            <h3 class="text-center">Documentation</h3>
            <p>Text and links here</p>
        </div>
        <div class="col-sm-4">
            <h1 class="text-center"><i class="fa fa-pencil" aria-hidden="true"></i></h1>
            <h3 class="text-center">Blog</h3>
            <p>Text and links here.</p>
        </div>
    </div>
</div>
